@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: v.$black;
    padding: 3rem 0;
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include m.desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 5rem);
        }
        .logo {
            width: 15rem;
            padding-bottom: 2rem;
            @include m.desktop {
                padding-bottom: 0;
            }
        }
        .links, .socials {
            color: v.$white;
        }
        .links {
            @include m.desktop {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                grid-row: 2;
            }
            list-style: none;
            padding: 2rem 0;
            margin: 0;
            li {
                line-height: 3;
                font-size: 1.5rem;
                a {
                    color: v.$white;
                }
            }
        }
        .socials {
            align-self: flex-end;
            display: flex;
            justify-content: space-between;
            @include m.desktop {
                margin: 0 0 0 auto;
                width: 50%;
            }
            font-size: 3rem;
            gap: 2rem;
            margin: 0 auto;
            width: 50%;
            padding: 1rem 0;
            .social {
                i {
                    padding-bottom: .5rem;
                    cursor: pointer;
                }
            }
        }
        .copyright {
            margin: 0;
            font-size: 1.6rem;
            @include m.desktop {
                text-align: right;
            }
        }
    }
}