@use 'base/variables' as v;
@use 'base/mixins' as m;

.our-creations {
    margin-bottom: 5rem;

    .our-creations-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .heading {
            font-size: 3.5rem;
            margin: 2rem 0;
            text-align: center;
        }

        .creations {
            padding: 0 0 2rem 0;
            .creation {
                padding: 1rem;
                position: relative;

                &:first-child {
                    padding: 2rem 1rem 1rem 1rem;
                    &::before {
                        margin: 2rem 1rem 1rem 1rem;
                    }    
                }

                h1 {
                    color: v.$white;
                    font-size: 2.5rem;
                    position: absolute;
                    left: 10%;
                    top: 45%;
                    width: 40%;
                }

                &::before {
                    content: "";
                    background-color: v.$black;
                    opacity: .4;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: 1rem;
                }
            }
        }
        .button {
            text-transform: uppercase;
            color: v.$black;
            letter-spacing: .5rem;
            font-weight: bolder;
            line-height: 0;
            padding: 2rem 4rem;
            border: .1rem solid v.$black;
        }
    }
}