@use 'base/variables' as v;
@use 'base/mixins' as m;

.our-creations {

    .our-creations-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 10rem;

        .content-header {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include m.tablet {
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .heading {
                font-size: 3.5rem;
                margin: 2rem 0;
            }

            .button {
                text-transform: uppercase;
                color: v.$black;
                letter-spacing: .5rem;
                line-height: 0;
                padding: 2rem 4rem;
                border: .1rem solid v.$black;
                position: absolute;
                bottom: 3rem;
                transition: .2s ease-in-out all;

                @include m.tablet {
                    position: initial;
                }

                &:hover {
                    background-color: v.$black;
                    color: v.$white;
                }
            }
        }

        .creations {
            display: grid;
            width: 100%;
            row-gap: 2rem;

            @include m.tablet {
                grid-template-columns: repeat(2, auto);
                gap: 2.5rem;
            }

            @include m.desktop {
                grid-template-columns: repeat(4, auto);
                gap: 2.5rem;
            }

            .creation {
                position: relative;
                cursor: pointer;
                height: 100%;



                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .creation-mask {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background: rgba(0, 0, 0, .3);
                    transition: .2s ease-in-out all;
                    left: 0;
                    top: 0;

                    &:hover {
                        background: rgba(255, 255, 255, .6);
                    }
                }

                h1 {
                    position: absolute;
                    font-size: 2.8rem;
                    left: 2rem;
                    bottom: 1rem;
                    width: 50%;
                    text-transform: uppercase;
                    color: v.$white;
                    transition: .2s ease-in-out all;
                }

                &:hover {
                    h1 {
                        color: hsl(0, 0%, 41%);
                    }
                }
            }
        }
    }
}